<!DOCTYPE html>
<html>
  <head>
    <title>Office Ante</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Office Ante is now running...</h1>
  </body>
</html>
