<!DOCTYPE html>
<html>
  <head>
    <title>Office Ante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app"></div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
